<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8' />
        <meta content='' name='description' />
        <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible' />
        <meta name="viewport" content="initial-scale=1">
        <title>$title$ - raitis.veinbahs.lv</title>
        <link href='/css/normalize.css' rel='stylesheet' />
        <link href='/css/style.css' rel='stylesheet' />
    </head>
    <body>
        <div id='blackline'>
            <menu>
                <menuitem id='home'><a href='/'>Raitis Veinbahs</a></menuitem>
                <menuitem>more <a href='/about.html'>about</a> me</menuitem>
                <menuitem>the <a href='/portfolio.html'>portfolio</a> of code</menuitem>
                <menuitem>site's <a href='/source.tar.bz2'>source</a></menuitem>
            </menu>
        </div>
        <div id='body'>
            $body$
        </div>
        <script src="/js/js.cookie.js"></script>
        <script>
            var id = 'iamahuman';
            if (Cookies.get(id) === undefined) {
                var r = new XMLHttpRequest();
                r.open('GET', '/?' + id, true); r.send();
            }
            Cookies.set(id, '1', { expires: 1 });
        </script>
    </body>
</html>
